@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=League+Spartan:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: #20201d;
      --foreground: #e0dcdc;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: "Roboto Slab";
      height: 100vh;
}

.actions {
      font-family: "League Spartan";
}

@keyframes notification-anim {
      0% {
            opacity: 100%;
      }
      75% {
            opacity: 100%;
            transform: translate(-50%, calc(-50% - 20px));
      }
      100% {
            opacity: 0%;
      }
}

.notification {
      position: fixed;
      padding: 2rem;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: notification-anim 3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
      pointer-events: none;
}

@keyframes seedDrop {
      0% {
            transform: scale(0.1);
            opacity: 1;
      }
      100% {
            transform: scale(10);
            opacity: 0;
      }
}