@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=League+Spartan:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: #151514;
      --foreground: #e0dcdc;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: "Roboto Slab";
      height: 100vh;
}

.actions {
      font-family: "League Spartan";
}

@keyframes notification-anim {
      0% {
            opacity: 100%;
            transform: translate(0, 0);
      }
      70% {
            opacity: 100%;
            transform: translate(0, 0);
      }
      100% {
            opacity: 0%;
            transform: translate(0, 0);
      }
}

.notifications {
      @apply flex flex-col overflow-auto mr-6;
}

.notification {
      padding-bottom: 1rem;
      border-radius: 10px;
      bottom: 0%;
      text-align: end;
      transform-origin: center;
      animation: notification-anim 10s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1
            normal forwards;
      pointer-events: none;
      z-index: -10;
}

@keyframes seedDrop {
      0% {
            transform: scale(0.1);
            opacity: 1;
      }
      100% {
            transform: scale(10);
            opacity: 0;
      }
}

/* Hide scrollbar for modern browsers */
.hide-scrollbar {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
}
